<h1>
    Olá {{user.name}}!!
    Sabemos que você quer um açaí do Pará! <a href="peixe">Pegue aqui</a>
    {{#if approved}}
    <p>
        Você está cadastrado com sucesso!
    </p>
    {{else}}
    <p>
        Você não está cadastrado!
    </p>
    {{/if}}

    {{!-- {{#if auth}}
    <p>

    </p> --}}
</h1>