body{
    background-color: antiquewhite;
    text-align: center;
    padding: 2em;
    color: rgb(255, 145, 0);
    font-family: Arial, sans-serif;
}

p {
    font-size: 18px;
    color: rgb(253, 155, 27);
}